:root {
    --hero-bg-color: #2E2F42;
    --footer-bg-color: #2E2F42;
    --primary-text-color: #434455;
    --primary-title-color: #2E2F42;
    --main-footer-color: #F4F4FD;
    --main-title-color: #fff;
    --nav-links-color: #2E2F42;
    --accent-color: #4D5AE5;
    --contact-link-color: #434455;
    --hover-link-color: #404BBF;

}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);

    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
} 

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1158px;
    margin:  auto;
    padding: 0 15px;
}
/* header */
.header {
    border-bottom: 1px solid #e7e9fc;
    padding-top: 24px;
    padding-bottom: 24px;
    padding: 0 15px;
    }

.main-header-container {
    display: flex;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-logo {
    font-family: "Raleway", sans-serif;    
    text-decoration: none;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}
.logo-span {
    color: #2e2f42;
}

.nav-link {
    text-decoration: none;
    color: var(--nav-links-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.address {
    font-style: normal;
    margin-left: auto;
    
}

.adress-list {
    display: flex;
    gap: 40px;
}

.adress-link {
    text-decoration: none;
    color: var(--contact-link-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.nav-link:hover,
.adress-link:hover {
    color: var(--hover-link-color);
}
.nav-link:focus,
.adress-link:focus {
    color: var(--hover-link-color);
}

/* hero */
.hero {
    background-color: var(--hero-bg-color);
    padding: 188px 0;
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: white;
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px;
}

.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    padding: 16px 32px;
    border-radius: 4px;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}

/* about */
.about {
    padding: 120px 0;
}
.about-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

.about-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.about-list-item {
    width: calc((100%-72px) / 4);
}

.about-item-title {
    margin-bottom: 8px;
    color: var(--primary-title-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.about-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* team */
.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;
}
.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px 0;
}

.team-title {
    margin-bottom: 72px;
    color: var(--primary-title-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}

.team-item-title {
    color: var(--primary-title-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* portfolio */
.our-portfolio {
    padding: 120px 0;
}

.portfolio-title {
    margin-bottom: 72px;
    color: var(--primary-title-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}

.portfolio-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}


.portfolio-item-title {
    color: var(--primary-title-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.portfolio-list-description {
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-top: none;
    background: var(--WHITE, #FFF);
}

/* footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0px;
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-logo-span {
    color: #f4f4fd;
}
.footer-text {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
